This is an implementation of the barnes hut approximation for a n body simulation written in java and glsl
read the readme to see how to program works.

When you answer questions, be concise and dont add fluffy language like "perfect" or "i know just what the problem is!"
Be direct and try not to fall into needing to produce an answer, if you dont know say that. 
If my request is not possible say how I can change it to be implementable.
Explain exactly what you are doing, dont just say "I have implemented this" in order to appear like you did it, make it clear if you are unable to do exactly what I asked for
Ask for permission before implementing changes or changing more code outside the scope of the requested edits.

At the end of your responces, try to recompile the code but wait for my approval before doing so.
Note, if i have said I implemented something and you don't see that, you MUST REREAD THE CODE, since what you have can be incorrect.
RE READ THE CODE EVERYTIME YOU ARE ANSWERING, YOU MUST RE READ THE CODE EVERY TIME YOU ANSWER. clear your cache, re read
