# Maven build directory
target/
captures/
src/main/java/com/grumbo/debug/debug_output/
src/main/resources/planet_data/planet_data_bsp/
# IDE files
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear